apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend-container
          image: 803989606864.dkr.ecr.ap-northeast-1.amazonaws.com/shopping-site-backend:5775208963e32bda6a248d16304bb4b6f909df2a
          ports:
            - containerPort: 5000
